<!DOCTYPE html> 
             <html lang="es" dir="ltr"> 
               <head> 
                 <meta charset="utf-8"> 
                 <title>Analizado</title> 
               </head> 
               <body> 
                 <div style="text-align:center"> 
                     <h1>Texto Analizado</h1> 
                     <h5>Usuario Newt</h5> 
                       <table style="margin: 0 auto;"> 
                         El <font color="blue">28</font> de octubre de <font color="blue">2004</font> se descubrió una estatua de bronce de Alan <font color="gray">Turing</font> esculpida por John W. Mills en la Universidad de Surrey. La estatua conmemora el <font color="blue">50</font> . aniversario de la muerte de <font color="gray">Turing.</font> Representa a <font color="gray">Turing</font> transportando sus libros a través del campus de los complejos <font color="red">3.64-8i</font> y de los reales <font color="green">646.546</font> en <font color="orange">15/85/2000</font> para el radio <font color="purple">3.65E-9</font> y ya. 
                       </table> 
                     <a href="/Newt/">Subir Otro Archivo</a> 
                 </div> 
               </body> 
             </html>